.wrap {
    width: 100%;
}

.top_title {
    font-size:30px;
    font-weight: bold;
    width:100%;
}

.low_title {
    font-size:20px;
    padding-top:10px
}

.borderWrap {
    border-bottom:1px solid #fff;
}